/* The code below centers the text of all h1's on the page. */
h1 {
    color:rgb(69, 11, 11);
    font-size:30px;
    border: 5px dashed red;
    text-align:center;
}

/* The code below centers all images on the page and gives them a width of 400px. */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:300px;
}

/* The code below centers the text of all h2's on the page. */
h2 {
    font: italic small-caps bold 12px/30px Georgia, serif;
    font-size: 20px;
    text-align:center;
}

.title{
    color:rgb(192, 62, 14)
}

h3 {
    color:red;
    text-align:center;
    font-style: oblique;
    font-size: 24px
}

h5{
    font-size: 15px;
    text-align: center;
}
/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
    display:flex;
    justify-content:space-around;
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section {
    border: 5px black solid;
    margin:5px;
}

body{
    background-color: lightgoldenrodyellow;
}